
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
overflow-x: hidden;
display: block;
font-family: 'Roboto', sans-serif;
letter-spacing: 1px;
}

body {
font-size: 1.5em;
/*24px*/
display: block;
word-wrap: break-word;
}

.row {
max-width: 1320px;
margin: 0 auto;
}

